<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Message" value="" />
		<add key="UserName" value="" />
		<add key="Lines" value="0" />
		<add key="LinesName" value="0" />
		<add key="bIsNewVersion"  />
		<add key="bIsClickable"   />
		<add key="bIsNeedOK"   />
		<add key="Devices" value="" />
		<add key="PrintIP" value="" />
		
	</appSettings>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
</configuration>